


    

 
 
  
style.css

p {
    font-family:Georgia, 'Times New Roman', Times, serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;

    text-align: center;



}

a {

    color: green;

    text-decoration: none;


}

ul{

    list-style-type: none;
}

span {
    font-weight: 700;
}

.weather{

    font-size: 40px;
}

.above-the-fold{

    display: inline-block;

}

.weather{

    width: 300px;

    border-top: 2px greenyellow;
    border-left: 2px greenyellow;
    border-right: 2px greenyellow;
    border-bottom: 2px greenyellow;
}

.breaking-news{
   padding-top: 0px;

   padding-bottom: 0px;

   padding-left: 30px;

   padding-right: 30px;
     ; 
}

.click-bait{
    display: inline-block;

    width: 250px;

    margin-top: 16px;

    margin-bottom: 16px;

    margin-left: 16px;

    margin-right: 16px;

    padding-top: 16px;

    padding-bottom: 16px;

    padding-left: 16px;

    padding-right: 16px;

    box-sizing: border-box;

    .below-the-fold article{
        display: inline-block;
    }


    .below-the-fold > img {

        display: inline-block;

        margin: 16px;

        padding: 16px;

        width :200px;

        position: relative;

    }

    .below-the-fold div{

        display: inline-block;

        width: 900px;

        margin: 16px;

        margin: 50px;

        position:relative;

        bottom: 100px;

        bottom: 25px
    }
    footer div{
       display: inline-flex;

       position: relative;

       left: 160px; 
    }
    footer ul{

        width:400px
    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
      }
      
      .primary-content {
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
}